---
layout: default
---

<section id="portfolio" class="portfolio">
<div class="row">
<!--<iframe width="100%" height="860px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="assets/newcastle-walk-plot.html"></iframe> --> 

<iframe width="100%" height="5000px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="assets/Match_LongDf_to_LA_Shapefile.html"></iframe>


<iframe width="100%" height="5000px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="assets/2017-08-14_Interactive_map_test.html"></iframe>


<iframe width="100%" height="5000px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="assets/StupidNoSpecialCharactersTestShiny.html"></iframe>


</div class="row">
</section id="portfolio" class="portfolio">


<div class="posts">

  {% for asset in site.assets %}
	<article class="post">
		<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ asset.title }}</a></h1>
		<div class="entry">
        {{ asset.excerpt }}
      </div>

		<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	</article>
	{% endfor %}







<!--
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
 -->   
	
	
	
	
</div>


