---
layout: default
---





<section id="portfolio" class="portfolio">
<div class="row">

<iframe width="100%" height="5000px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="assets/MultiBar_Plotly.html"></iframe>


<iframe width="100%" height="3000px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="assets/Leaflet_shapefiles.html"></iframe>


<iframe width="100%" height="3000px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="assets/Outliers_TurnChurn.html"></iframe>


</div class="row">
</section id="portfolio" class="portfolio">
  



<!--
<div class="posts">

  {% for asset in site.my_collections%}
	<article class="post">
		{{ asset }}
	</article>
		
	{% endfor %}

</div>
 --> 




<!--
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
  
  </div>

 -->   
	
	
	
	
</div>


